@using EquidCMS.Models
@model SociallinkViewModel
@{
    ViewData["Title"] = "Success Stories & Testimonials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .dt-search {
        float: right;
    }

    .dt-paging {
        float: right;
        margin-top: 10px;
    }

    div.dt-buttons {
        position: relative;
        float: left;
    }

    button.dt-button, div.dt-button, a.dt-button {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        margin-right: 0.333em;
        padding: 0.5em 1em;
        border: 1px solid #999;
        border-radius: 2px;
        cursor: pointer;
        font-size: 0.88em;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        background-color: #e9e9e9;
        background-image: -webkit-linear-gradient(top, #fff 0%, #e9e9e9 100%);
        background-image: -moz-linear-gradient(top, #fff 0%, #e9e9e9 100%);
        background-image: -ms-linear-gradient(top, #fff 0%, #e9e9e9 100%);
        background-image: -o-linear-gradient(top, #fff 0%, #e9e9e9 100%);
        background-image: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='white', EndColorStr='#e9e9e9');
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-decoration: none;
        outline: none;
    }
</style>

<script type="text/javascript">
    $(function () {
        $('#myDataTable').DataTable({
            dom: 'lBfrtip',
            buttons: ['excelHtml5'],
            'info': false,
            'lengthChange': false,
            'autoWidth': false
        })
    })
</script>
<section id="AboutSection" class="mt-4 mb-4">
    <div class="row" style="border-bottom: black 2px solid; margin-bottom:5px">
        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="PagemainHeading">Social Linkedin</h2>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
            
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table id="myDataTable" class="table table-bordered table-striped dt-responsive w-100">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Name</th>
                        <th>Photo</th>
                        <th>Email</th>
                        <th>Post</th>
                        <th>Organization</th>
                        <th>Linkedin</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int a = 1;
                        @foreach (var item in Model.Records)
                        {
                            <tr>
                                <td>
                                    @a
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <img src="@Url.Content(@item.Photo)" alt="Image Thumbnail" class="img-thumbnail" width="60" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-slide-to="@a">
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Post)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Organization)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Linkdinlink)
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-sm edit-btn"
                                            data-id="@item.ScLinkdinId"
                                            data-name="@item.Name"
                                            data-email="@item.Email"
                                            data-post="@item.Post"
                                            data-organization="@item.Organization"
                                            data-linkedin="@item.Linkdinlink">
                                        Edit
                                    </button>
                                    <button class="btn btn-danger btn-sm delete-button" data-id="@item.ScLinkdinId">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            a += 1;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- Form for adding a new entry -->
    <section>
        <div class="row">
            <form id="formAction" asp-controller="SocialLink" asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" id="NewEntry_Id" name="NewEntry.ScLinkdinId" />

                <div class="row">
                        <div class="col-xl-4 col-lg-4">
                            <div class="form-group">
                                <label class="control-label">Name<span class="text-danger">*</span></label>
                            <input asp-for="NewEntry.Name" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="form-group">
                                <label class="control-label">Email<span class="text-danger">*</span></label>
                            <input asp-for="NewEntry.Email" class="form-control" required />
                            </div>
                        </div>
                       <div class="col-xl-4 col-lg-4">
                            <div class="form-group">
                              <label class="control-label">Photo<span class="text-danger">*</span></label>
                                <input type="file" id="FileToUpload1" name="FileToUpload1" class="form-control" />
                            </div>
                        </div>
                        </div>
                        <div class="row">
                    <div class="col-xl-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Post<span class="text-danger">*</span></label>
                            <input asp-for="NewEntry.Post" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Organization<span class="text-danger">*</span></label>
                            <input asp-for="NewEntry.Organization" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Linkedin<span class="text-danger">*</span></label>
                            <input asp-for="NewEntry.Linkdinlink" class="form-control" required />
                        </div>
                    </div>
                        </div>
                    

                <div class="row" style="padding: 5px;">
                    <div class="col-xl-12 col-lg-12">
                        <div class="form-group" style="float: right;">
                            <button id="submitButton" type="submit" style="background-color: blueviolet;" class="rr-secondary-btn btn-border">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Modal for Image Slider with Heading -->
    
</section>
<script>
    // Script to update the modal's carousel to the clicked image
    document.querySelectorAll('[data-bs-target="#imageModal"]').forEach((image, index) => {
        image.addEventListener('click', function () {
            const carousel = document.querySelector('#imageCarousel');
            const carouselItems = carousel.querySelectorAll('.carousel-item');
            const targetIndex = index;

            // Set the active class on the clicked image's carousel item
            carouselItems.forEach(item => item.classList.remove('active'));
            carouselItems[targetIndex].classList.add('active');
        });
    });
</script>
<script>
   $(document).ready(function () {
    // Event delegation for delete button
    $(document).on("click", ".delete-button", function () {
        var entryId = $(this).data("id");

        if (confirm("Are you sure you want to delete this record?")) {
            $.ajax({
                url: "/sociallink/Delete/" + entryId,
                type: "DELETE",  // Correct HTTP Method
                success: function (response) {
                        alert("Record deleted successfully.");
                        location.reload(); // Refresh the page after deletion
                    },
                error: function (xhr) {
                    alert("Error deleting record: " + xhr.responseText);
                }
            });
        }
    });

    // Event delegation for edit button
    $(document).on("click", ".edit-btn", function () {
        var id = $(this).data("id");
        var name = $(this).data("name");
        var email = $(this).data("email");
        var post = $(this).data("post");
        var organization = $(this).data("organization");
        var linkedin = $(this).data("linkedin");

        // Populate the form fields for editing
        $("#NewEntry_Id").val(id);
        $("#NewEntry_Name").val(name);
        $("#NewEntry_Email").val(email);
        $("#NewEntry_Post").val(post);
        $("#NewEntry_Organization").val(organization);
        $("#NewEntry_Linkdinlink").val(linkedin);
        $("#NewEntry_Name").focus();

        // Change form action to update
        $("#formAction").attr("action", "/SocialLink/Edit");
        $("#submitButton").text("Update").css("background-color", "orange");
    });

    // Re-initialize after every DataTable draw (pagination, search, etc.)
    $('#myDataTable').on('draw.dt', function () {
        // Re-attach event handlers to the newly rendered rows
       
    });
});
</script>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('#successMessage').fadeOut('slow');
        }, 5000); // 5000 milliseconds = 5 seconds
    });
</script>

