@model IEnumerable<EquidCMS.Models.Tblevent>

@{
    ViewData["Title"] = "EventDetail";
    Layout = "~/Views/Shared/_LayoutWebSNW.cshtml";
    var PastEvent = ViewBag.Pastevent as List<EquidCMS.Models.Tblevent>;
}
@functions {
    public string ConvertToEmbedUrl(string url)
    {
        if (url.Contains("youtube.com/watch?v="))
        {
            return url.Replace("watch?v=", "embed/");
        }
        else if (url.Contains("youtu.be/"))
        {
            var videoId = url.Substring(url.LastIndexOf("/") + 1);
            return $"https://www.youtube.com/embed/{videoId}";
        }
        else if (url.Contains("vimeo.com/"))
        {
            var videoId = url.Split('/').Last();
            return $"https://player.vimeo.com/video/{videoId}";
        }
        return url; // generic fallback
    }
}

<style>

    .dt-search {
        float: right;
    }

    .dt-paging {
        float: right;
        margin-top: 10px;
    }

    div.dt-buttons {
        position: relative;
        float: left;
    }

    button.dt-button, div.dt-button, a.dt-button {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        margin-right: 0.333em;
        padding: 0.5em 1em;
        border: 1px solid #999;
        border-radius: 2px;
        cursor: pointer;
        font-size: 0.88em;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        background-color: #e9e9e9;
        background-image: -webkit-linear-gradient(top, #fff 0%, #e9e9e9 100%);
        background-image: -moz-linear-gradient(top, #fff 0%, #e9e9e9 100%);
        background-image: -ms-linear-gradient(top, #fff 0%, #e9e9e9 100%);
        background-image: -o-linear-gradient(top, #fff 0%, #e9e9e9 100%);
        background-image: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='white', EndColorStr='#e9e9e9');
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-decoration: none;
        outline: none;
    }

</style>
<style>
    .event-evidence-box {
        border-radius: 10px;
        border: 1px solid #000;
        background: #fff;
        padding: 15px;
        column-gap: 20px;
        align-items: center;
        margin-bottom: 25px;
    }

</style>

<script type="text/javascript">
    $(function () {
        $('#myDataTable').DataTable({
            dom: 'lBfrtip',
            buttons: ['excelHtml5'],
            'info': false,
            'lengthChange': false,
            'autoWidth': false
        })
    })
</script>
<section>
    <img src="assets/img/event-detail-page-hero.webp" alt="">
</section>
@for (int i = 0; i < PastEvent.Count; i++)
{
    <section class="event-detail-page cream_bg pt-80 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-80">
                    <div class="event-head-wrap">
                        <div class="event-date">
                            <div>Event <p class="date">@PastEvent[i].Startdateofevent.ToString("MMMM") @PastEvent[i].Startdateofevent.ToString("dd")</p> @PastEvent[i].Startdateofevent.ToString("yyyy")</div>

                        </div>
                        <div class="event-head">
                            <div>
                                <h1>@PastEvent[i].EventName</h1>
                                <p>Hosted By :- @PastEvent[i].EventHostOrg</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                @if (@PastEvent[i].EventType.Eventtype == null) { }
                else
                {
                    <div class="col-lg-4">
                        <div class="event-detail-box">
                            <div class="eve-icon"><i class="fa-solid fa-wifi-slash"></i></div>
                            <div class="eve-content">
                                <div class="label">Event</div>
                                <div class="label-detail">@PastEvent[i].EventType.Eventtype</div>
                            </div>
                        </div>
                    </div>
                }

                @if (@PastEvent[i].EventHost == null) { }
                else
                {
                    <div class="col-lg-4">
                        <div class="event-detail-box">
                            <div class="eve-icon"><i class="fa-solid fa-comments"></i></div>
                            <div class="eve-content">
                                <div class="label">Host</div>
                                <div class="label-detail">@PastEvent[i].EventHost</div>
                            </div>
                        </div>
                    </div>
                }
                @if (@PastEvent[i].Startdateofevent.ToString("dd-MM-yyyy") == null) { }
                else
                {
                    <div class="col-lg-4">
                        <div class="event-detail-box">
                            <div class="eve-icon"><i class="fa-solid fa-calendar-days"></i></div>
                            <div class="eve-content">
                                <div class="label">Event Start Date</div>
                                <div class="label-detail">@PastEvent[i].Startdateofevent.ToString("dd-MM-yyyy")</div>
                            </div>
                        </div>
                    </div>
                }
                @if (@PastEvent[i].Enddateofevent?.ToString("dd-MM-yyyy") == null) { }
                else
                {
                    <div class="col-lg-4">
                        <div class="event-detail-box">
                            <div class="eve-icon"><i class="fa-solid fa-calendar-days"></i></div>
                            <div class="eve-content">
                                <div class="label">Event End Date</div>
                                <div class="label-detail">@(PastEvent[i].Enddateofevent?.ToString("dd-MM-yyyy") ?? "N/A")</div>
                            </div>
                        </div>
                    </div>
                }
                @if (@PastEvent[i].EventTimeStart == null) { }
                else
                {
                    <div class="col-lg-4">
                        <div class="event-detail-box">
                            <div class="eve-icon"><i class="fa-solid fa-clock-rotate-left"></i></div>
                            <div class="eve-content">
                                <div class="label">Start Time</div>
                                <div class="label-detail">@PastEvent[i].EventTimeStart</div>
                            </div>
                        </div>
                    </div>
                }
                @if (@PastEvent[i].EventTimeEnd == null) { }
                else
                {
                    <div class="col-lg-4">
                        <div class="event-detail-box">
                            <div class="eve-icon"><i class="fa-solid fa-clock-rotate-left"></i></div>
                            <div class="eve-content">
                                <div class="label">End Time</div>
                                <div class="label-detail">@PastEvent[i].EventTimeEnd</div>
                            </div>
                        </div>
                    </div>
                }
                @if (@PastEvent[i].Descriptionofevent == null) { }
                else
                {
                    <div class="col-lg-12">
                        <div class="event-detail-box">
                            <div class="eve-icon"><i class="fa-solid fa-file-lines"></i></div>
                            <div class="eve-content">
                                <div class="label">Description</div>
                                <div class="label-detail">@PastEvent[i].Descriptionofevent</div>
                            </div>
                        </div>
                    </div>
                }

                @if (@PastEvent[i].EventVenue == null) { }
                else
                {
                    <div class="col-lg-4">
                        <div class="event-detail-box">
                            <div class="eve-icon"><i class="fa-solid fa-location-dot"></i></div>
                            <div class="eve-content">
                                <div class="label">Event Venue</div>
                                <div class="label-detail">@PastEvent[i].EventVenue</div>
                            </div>
                        </div>
                    </div>
                }
                @if (@PastEvent[i].EventPricingType?.Eventpricingtype == null) { }
                else
                {
                    <div class="col-lg-4">
                        <div class="event-detail-box">
                            <div class="eve-icon"><i class="fa-solid fa-dungeon"></i></div>
                            <div class="eve-content">
                                <div class="label">Event Entry Type</div>
                                <div class="label-detail">@PastEvent[i].EventPricingType?.Eventpricingtype</div>
                            </div>
                        </div>
                    </div>
                }
                @if (@PastEvent[i].EventPricing == null) { }
                else
                {
                    <div class="col-lg-4">
                        <div class="event-detail-box">
                            <div class="eve-icon"><i class="fa-solid fa-indian-rupee-sign"></i></div>
                            <div class="eve-content">
                                <div class="label">Event Ticket Price</div>
                                <div class="label-detail">@PastEvent[i].EventPricing/-</div>
                            </div>
                        </div>
                    </div>
                }
                @if (@PastEvent[i].Eventbenefit == null) { }
                else
                {
                    <div class="col-lg-4">
                        <div class="event-detail-box">
                            <div class="eve-icon"><i class="fa-solid fa-asterisk"></i></div>
                            <div class="eve-content">
                                <div class="label">Benefit</div>
                                <div class="label-detail">@PastEvent[i].Eventbenefit</div>
                            </div>
                        </div>
                    </div>
                }
                @if (@PastEvent[i].Parking == null) { }
                else
                {
                    <div class="col-lg-4">
                        <div class="event-detail-box">
                            <div class="eve-icon"><i class="fa-solid fa-car"></i></div>
                            <div class="eve-content">
                                <div class="label">Parking</div>
                                <div class="label-detail">@PastEvent[i].Parking</div>
                            </div>
                        </div>
                    </div>
                }
                @if (@PastEvent[i].WheelChair == null) { }
                else
                {
                    <div class="col-lg-4">
                        <div class="event-detail-box">
                            <div class="eve-icon"><i class="fa-solid fa-wheelchair-alt"></i></div>
                            <div class="eve-content">
                                <div class="label">Wheelchair Accessibility</div>
                                <div class="label-detail">@PastEvent[i].WheelChair/-</div>
                            </div>
                        </div>
                    </div>
                }

                @if (PastEvent[i].Tbleventbenefits != null && PastEvent[i].Tbleventbenefits.Any())
                {
                    <div class="col-lg-12">
                        <div class="event-detail-box">
                            <table id="myDataTable" class="table table-bordered table-striped dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Speaker Name and Organization</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (PastEvent[i].Tbleventbenefits != null && PastEvent[i].Tbleventbenefits.Any())
                                    {
                                        int a = 1;
                                        @foreach (var item in PastEvent[i].Tbleventbenefits)
                                        {
                                            // Skip null or empty Eventbenefit
                                            if (!string.IsNullOrEmpty(item.Eventbenefit))
                                            {
                                                <tr>
                                                    <td>@a</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Eventbenefit)</td>
                                                </tr>
                                                a += 1;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                <div class="col-lg-12" style="display:none">
                    <div class="event-detail-box">
                        <table id="myDataTable2" class="table table-bordered table-striped dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Participant</th>
                                    <th>Email</th>
                                    <th>Mobile No</th>
                                    <th>Linkedin</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int b = 1;
                                    @foreach (var item in @PastEvent[i].Tbleventparticipants)
                                    {
                                        <tr>
                                            <td>
                                                @b
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Emailid)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Mobileno)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Linkedin)
                                            </td>

                                        </tr>
                                        b += 1;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                @if (PastEvent[i].Tblevidences.Count > 0)
                {
                    <div class="col-lg-12">
                        <div class="event-evidence-box">
                            <div class="row">
                                @foreach (var item in PastEvent[i].Tblevidences)
                                {
                                    <div class="col-md-4 mb-4">
                                        <div class="gallery-item position-relative" style="width:100%; height:250px; overflow:hidden; border-radius:8px; box-shadow:0 2px 6px rgba(0,0,0,0.1);">
                                            @if (!string.IsNullOrWhiteSpace(item.Evidencelink))
                                            {
                                                <!-- Video -->
                                                <iframe src="@ConvertToEmbedUrl(item.Evidencelink)"
                                                        allowfullscreen
                                                        style="width:100%; height:100%; border:0;"></iframe>
                                            }
                                            else if (!string.IsNullOrWhiteSpace(item.Evidencepath))
                                            {
                                                <!-- Image -->
                                                <img src="~/@item.Evidencepath.Replace("\\", "/")"
                                                     alt="Event Image"
                                                     class="img-fluid"
                                                     style="width:100%; height:100%; object-fit:cover;" />
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }

                @if (PastEvent[i].Startdateofevent >= DateOnly.FromDateTime(DateTime.Today))
                {
                    <div class="col-lg-12 text-center">
                        <a onclick="openEvidenceModal(@PastEvent[i].Eventid)" class="rr-secondary-btn btn-border wow fade-in-bottom signup-gradient big-btn mt-30" data-wow-delay="600ms">Register Now</a>
                    </div>
                }
            </div>
        </div>
    </section>
}
@if (TempData["SuccessMessage"] != null)
{
    <script>
        alert("@TempData["SuccessMessage"]");
    </script>
}

<!-- Evidence Modal (Bootstrap Modal) -->
<div class="modal fade" id="evidenceModal" tabindex="-1" aria-labelledby="evidenceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="evidenceModalLabel">Register</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="SaveParticipant" method="post" enctype="multipart/form-data">
                    <input type="hidden" id="EventID" name="EventID" />
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Name<span class="text-danger">*</span></label>
                                <input id="name" class="form-control" required name="Name" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Email<span class="text-danger">*</span></label>
                                <input id="email" type="email" class="form-control" required name="Emailid" />
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Mobile No<span class="text-danger">*</span></label>
                                <input id="MB" type="text" class="form-control" required name="mobileno" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Linkedin</label>
                                <input id="lkdin" class="form-control" name="linkedin" />
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    function showMessage(event) {
        event.preventDefault(); // Prevents form submission
        alert("Event sucessfully applied");
        // You can also submit the form after showing the message
        document.getElementById('yourForm').submit(); // Submit the form programmatically
    }

    function openEvidenceModal(eventID) {

        document.getElementById('EventID').value = eventID;

        debugger;
        $.ajax({
            url: '/Home/GetApplicantsDetails',
            method: 'GET',
            data: { id: eventID },
            success: function (response) {

                if (response === "NO") {
                    console.log(response);
                    var myModal = new bootstrap.Modal(document.getElementById('evidenceModal'));
                    myModal.show();
                } else {
                    console.log(response);
                    debugger;
                    $('#name').val(response.fullName);
                    $('#email').val(response.email);
                    $('#MB').val(response.phoneNumber);
                    $('#lkdin').val(response.linkedinProfile);

                    var myModal = new bootstrap.Modal(document.getElementById('evidenceModal'));
                    myModal.show();
                }
            }
        });


    }

</script>